@import '_defines';
//@import '../../node_modules/font-awesome/scss/font-awesome';
//@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// @blue-main:  #3067bf  ,#3067bf  ,#898989  ,#FFFFFF  ,#6D6D6D  ,#FFFFFF ,#898989  ,#EB4D5C
$primary-color: #3067bf;
$accent-color: #a5a5a5;
$text-light: #F3E0CE;
$text-blue: #2d2d3e;
$text-tan: #f3eae3;
$text-red: #d88f85;
$text-dark: #d5b891;


@import '_defines';
//@import '../../node_modules/font-awesome/scss/font-awesome';
//@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.side-nav-item {
  color: $text-blue;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.top-nav-item {
  display: flex;
  color: $text-blue;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  padding-top: 12px;
  padding-left: 30px;
  margin-bottom: 5px;
}

.nav-icon {
  color: #000;
  padding-right: 40px;
}

.mobile-nav-style {
  top: 0px;
  left: 15px;
  color: $text-blue;
}

.parallax-container {
  height: 400px;
}
.parallax-container .section {
  width: 100%;
}

.navbar-fixed {
  background-color: $text-light;
}

.default-background {
  background-color: $text-tan;
}

.text-blue {
  color: $text-blue;
  font-size: 30px;
  font-weight: bold;
}

.text-red {
  color: $text-red;
  font-size: 30px;
  font-weight: bold;
}

.text-dark {
  color: $text-dark;
  font-size: 30px;
  font-weight: bold;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.text-tan {
  color: $text-tan;
  font-size: 30px;
  font-weight: bold;
}

.text-left {
  margin-left: 15%
}

.text-right {
  margin-left: 62.5%
}

.sponsor-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.sponsor-left {
  height: 100;
}

.sponsor-right {
  height: 100;
}

.image1 {
  background-image: url('../assets/images/WebsiteBG-1-02.png');
  background-size: cover;
}
.image2 {
  background-image: url('../assets/images/WebsiteBG-1-01.png');
  background-size: cover;
}
.scale-image {
  width: 500px;
  height: auto;
}

.btn {
  @extend .text-blue
}
